@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

body {
	/* Fazendo um pequeno reset */
	margin: 0;
	padding: 0;
	/* Inserindo uma imagem de fundo na página */
	background: url("../imagens/fundo-tela_03.jpg") no-repeat;
	background-size: cover;
}

div#conteine-logar {
	margin: 60px auto 0px auto;
	border-radius: 12px;
	width: 400px;
	height: 500px;
	background: #E7E4F4;
}

div#conteine-logar h1 {
	text-align: center;
}

/* Estilizando o formulário de login */

form#login {
	width: 80%;
	margin: 0 auto;
	font-family: 'Nunito', sans-serif;
}

form#login label {
	display: block;
	margin-bottom: 7px;
	font-weight: bolder;
}

form#login input {
	width: 80%;
	height: 30px;
}

input[type="email"] {
	padding-left: 25px;
	background: url("../imagens/perfil.png") no-repeat 4px center;
} /* Imagem de fundo para o campo da digitação do e-mail */

input[type="password"] {
	padding-left: 25px;
	background: url("../imagens/chaves01.png") no-repeat 4px center;
} /* Imagem de fundo do campo para digitação da senha */

.linha-mais {
	margin-top: 15px;
}

div#link {
	margin-top: 14px;
	text-align: right;
	margin-bottom: 20px;
}

/* Estilizando os botões do formulário */
div#btns {
	text-align: center;
}

input[type="submit"] {
	margin-bottom: 15px;
}

input[type="submit"],
input[type="reset"] {
	background: #1e96a2;
	color: white;
	font-family: helvetica;
	font-family: 'Rubik', sans-serif;
	font-size: 1.1em;
	height: 49px;
}