<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Layout Fixo</title>
        <!-- Folha de estilo externo -->
        <link rel="stylesheet" type="text/css" href="css/folhaEstilo.css">
    </head>
    <body>
        <!-- Criando o layout fixo do site -->  
        <div id="conteiner">
            <div id="marca">
                <h1>Marca</h1>
            </div> <!-- cabeçalho da página -->
            <div id="conteudo">
                <div id="conteudo-central">
                    <h2>Conteúdo</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla quia blanditiis error! Assumenda quae, laboriosam magni alias non nobis vitae vel soluta veniam autem aspernatur ex voluptas, unde eius aliquam.</p>
                    <h2>Conteúdo</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla quia blanditiis error! Assumenda quae, laboriosam magni alias non nobis vitae vel soluta veniam autem aspernatur ex voluptas, unde eius aliquam.</p>
                </div> <!-- Área da página do conteúdo central do layout -->
                <div id="conteudo-periferico">
                    <h2>Conteúdo</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla quia blanditiis error! Assumenda quae, laboriosam magni alias non nobis vitae vel soluta veniam autem aspernatur ex voluptas, unde eius aliquam.</p>
                </div>
            </div> <!-- Área do conteúdo -->
            <div id="navegacao">
                <ul type="none">
                    <li>
                        <a href="#" rel="next" target="_self" hreflang="pt-br">Home</a>
                    </li> <!-- Link da página home -->
                    <li>
                        <a href="#" rel="next" target="_self" hreflang="pt-br">Sobre</a>
                    </li> <!-- Link para a página sobre -->
                    <li>
                        <a href="#" rel="next" target="_self" hreflang="pt-br">Serviços</a>
                    </li> <!-- Link para a página serviços -->
                    <li>
                        <a href="#" rel="next" target="_self" hreflang="pt-br">Podutos</a>
                    </li> <!-- Link para a página produtos -->
                    <li>
                        <a href="#" rel="next" target="_self" hreflang="pt-br">Clientes</a>
                    </li> <!-- Link para a página clientes -->
                    <li>
                        <a href="#" rel="next" target="_self" hreflang="pt-br">Contatos</a>
                    </li> <!-- Link para a página contatos -->
                </ul>
            </div> <!-- Área lateral para os menus de navegação -->
            <div id="rodape">
                <h5>Desenvolvido por:<strong>Fernando Santos Pereira</strong></h5>
            </div> <!-- Rodapé da página -->
        </div> 
    </body>
</html>