<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title>Layout Fixo</title>
		<!-- Facicon -->
		<link rel="shortcut icon" type="image/png" sizes="" href="imagens/layout-da-pagina.png">
		<!-- Folha de estilo externo -->
		<link rel="stylesheet" type="text/css" media="all" href="css/folhaEstilo.css">
	</head>
	<body>
		<div id="conteiner">
			<div id="marca">
				<h1>Marca</h1>
			</div>
			<div id="conteudo">
				<div id="conteudo-primario">
					<h2>Primário</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					<h2>Primário</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div>
				<div id="conteudo-segudario">
					<h2>Segundario</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div>

			</div> <!-- Conteúdo central da página -->
			<div id="navegacao">
				<ul>
					<li>
						<a href="#" rel="next" target="_self" hreflang="pt-br">Home</a>
					</li> 
					<li>
						<a href="#" rel="next" target="_self" hreflang="pt-br">Sobre</a>
					</li> 
					<li>
						<a href="#" rel="next" target="_self" hreflang="pt-br">Serviços</a>
					</li> 
					<li>
						<a href="#" rel="next" target="_self" hreflang="pt-br">Produtos</a>
					</li> 

					<li>
						<a href="#" rel="next" target="_self" hreflang="pt-br">Clientes</a>
					</li> 
					<li>
						<a href="#" rel="next" target="_self" hreflang="pt-br">Reclamação</a>
					</li> 

					<li>
						<a href="#" rel="next" target="_self" hreflang="pt-br">Contatos</a>
					</li> 
				</ul> <!-- Lista não ordenada para os links do menu -->	
			</div>
			<div id="rodape">
				<h4>Fernando Santos Pereira</h4>
			</div>

		</div>
	</body>
</html>